@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkomna till Hotel TD!</h1>
</div>

@foreach(var room in Model.Rooms)
{
    <h1>@room.Id</h1>
    <h1>@room.Type</h1>
}
