@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkomna till Hotel TD!</h1>
</div>

<form method="post">
    <div class="form-control">
        <div class="input-group-lg">
            <label class="form-label" for="calculation-method">När vill du boka?</label>
        </div>
        <div class="mt-2 form-control">
            <label class="form-label" for="starting-date-input">Starting Date:</label>
            <input id="starting-date-input" type="date" asp-for="StartingDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <label class="form-label" for="ending-date-input">Ending Date:</label>
            <input id="ending-date-input" type="date" asp-for="EndingDate" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
        </div>
        <div class="mt-2">
            <button class="btn btn-outline-dark" type="submit">Check Availability!</button>
        </div>
    </div>
</form>

@if(Model.Dates != null)
{
   @foreach(var room in Model.Rooms)
{
    <h1>@room.Type "room available"</h1>

} 
}

